.btn {
    height: 60px;
    padding: 1em 30px;
    margin: 1em auto;

    color: white;
    background: linear-gradient(to bottom, #ED73DA, #AA5DDC);
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    @include shadow-primary;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include btn-hover;
}

.btn-functioning {
    height: 80px;
    padding: 1em 30px;
    margin: .8em 0 .8em 1.5em;

    background-color: $color-accent;
    border-radius: 22px;
    font-weight: bold;
    cursor: pointer;
    @include shadow-secondary;

    position: relative;
    display: flex;
    align-items: center;
    i {
        color: #7E7E7E;
        margin-left: .5em;
        margin-right: 1em;
    }
    .circle {
        width: 36px;
        height: 36px;

        color: white;
        border-radius: 18px;
        background-color: $color-primary;
        font-family: sans-serif;

        position: absolute;
        top: 22px; left: -18px;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        background-color: pastel($color-primary);
        i {
            color: $color-primary;
        }
    }
}

.btn-dish {
    height: 80px;
    padding: 0;
    margin: 0;

    border-radius: 22px;
    cursor: pointer;
    @include shadow-primary;
    overflow: hidden;

    position: relative;
    display: flex;
    &:hover {
        & .btn-dish__check {
            width: 65px;
        }
    }
    @include tablet {
        flex: 1 1 0;
        min-width: 40%;
        max-width: calc(50% - 10px);
    }
    &__description {
        padding-left: 1em;

        overflow: hidden;

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            margin: 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p {
            line-height: 22px;
            margin: 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &__price {
        width: 65px;
        padding-bottom: 1em;

        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    &__check {
        width: 0;

        font-size: 1.2em;
        color: white;
        background-color: $color-tertiary;
        overflow: hidden;
        transition: .2s;

        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
    }
}

.btn-back {
    width: 30px;
    height: 30px;

    color: $color-footer;
    font-size: 27px;

    position: absolute;
    top: 28px; left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}