@use "../utils/index" as *;

.heart {
    width: $heart-size;
    height: $heart-size;
    
    font-size: $heart-size;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: $heart-offset; right: $heart-offset;
    &:hover {
        .fas {
           height: $heart-size;
        }
        .far {
            height: 0;
        }
    }
    .fas {
        color: black;
        height: 0;
        transition: $heart-transition;
        overflow: hidden;
        
        position: absolute;
        bottom: 0; right: 0;
        display: flex;
        align-items: end;

        background: white;
        mix-blend-mode: darken;

        &::after {
            content: "";
            position: absolute;
            top: 0;right: 0;left: 0;bottom: 0;

            background: linear-gradient(to top,
                pastel($color-secondary, 75%),
                pastel($color-primary, 65%));
            mix-blend-mode: lighten;
        }
    }
    .far {
        height: $heart-size;

        overflow: hidden;

        transition: $heart-transition;
        position: absolute;
        top: 0; right: 0;
    }
    @include tablet-only {
        top: auto;
        bottom: .7em;
    }
}