@use "../utils/index" as *;

/*** RESET CSS ***/

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}

input:focus {
    outline: none;
}

/*** BASE ***/

body {
    @include font-primary;
    font-size: 18px;
}

h1 {
    @include font-title;
}
