$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-accent: #F6F6F6;
$color-footer: #353535;

$heart-size: 26px;
$heart-animation-duration: .4s;
$heart-offset: .8em;

$spinner-animation-duration: 2s;

$breakpoints: (
    tablet: 600px,
    desktop: 1040px
);
