@use "../utils/index" as *;

.loading {
    width: 0;
    background-color: white;

    animation:
        full-width $spinner-animation-duration steps(2, start),
        fade reverse .3s $spinner-animation-duration - .3s;
    overflow: hidden;

    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 2;
    display: flex;

    &__spinner {
        margin: auto;
        
        color: black;
        font-size: 5em;

        animation: rotate infinite $spinner-animation-duration steps(8, end);
    }
    &__color-filter {
        width: 120px;
        height: 120px;
        margin: auto;

        position: absolute;
        top: 0;right: 0;left: 0;bottom: 0;

        background: linear-gradient(to top,
            pastel($color-primary, 50%),
            pastel($color-secondary, 60%));
        mix-blend-mode: lighten;
    }
}
