.loading {
    width: 0;
    background-color: white;

    animation:
        full-width $spinner-animation-duration steps(2, start),
        fade reverse .3s $spinner-animation-duration - .3s;
    overflow: hidden;

    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 2;
    display: flex;

    &__spinner {
        color: $color-primary;

        margin: auto;
        font-size: 5em;

        animation: rotate infinite $spinner-animation-duration steps(8, end);
    }
}
