.loading {
    width: 0;
    background-color: white;

    animation:
        full-width 3s steps(2, start),
        fade reverse .3s 2.7s;
    overflow: hidden;

    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 2;
    display: flex;

    &__spinner {
        color: $color-primary;

        margin: auto;
        font-size: 5em;

        animation: rotate infinite 2s steps(8, end);
    }
}
