.menu-dishes {
    margin-bottom: -2em;
    display: flex;
    flex-direction: column;
    &__featured-picture {
        height: 350px;
        object-fit: cover;
        @include desktop {
            width: 100%;
            height: 75%;

            z-index: -1;
            position: fixed;
            top: 0;
        }
    }
    &__degrade {
        display: none;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
        @include desktop {
            display: block;
            height: 200px;
            position: absolute;

            width: 100%;

            z-index: -1;
            position: fixed;
            bottom: 25%;
        }
    }
    &__list {
        padding: 2.5em 1.5em 4em;
        margin-top: -50px;

        background-color: $color-accent;
        border-radius: 50px 50px 0 0;

        display: flex;
        flex-direction: column;
        position: relative;
        .heart {
            position: absolute;
            top: 2em; right: 2em;
        }
        h1 {
            padding-right: 2em;
            margin-top: 0;
        }
        h2 {
            margin: .3em 0;
            font-weight: normal;
            text-transform: uppercase;
        }
        hr {
            width: 60px;
            height: 4px;
            margin: 0;
            border: 0;

            background-color: $color-tertiary;
        }
        @include desktop {
            margin: 450px 5em 0;

            background: linear-gradient(to bottom, rgba(255, 255, 255, .85) 0,#ffffff 300px);
        }
    }
    &__section {
        margin-bottom: 3em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        margin: 1em 0;

        gap: 20px;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .btn-dish {
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation:
                    invisible .15s*$i,
                    slideUp .7s .15s*$i,
                    fade .5s .15s*$i;
            }
        }
    }
    .btn {
        padding: 1em 3em;
    }
}