.restaurants {
    @include padding-block;
    background-color: $color-accent;

    display: flex;
    flex-direction: column;
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    &__card {
        border-radius: 25px;
        @include shadow-primary;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        & img {
            height: 180px;
            object-fit: cover;
        }
    }
    &__card-description {
        padding: 1em;

        position: relative;
        display: flex;
        flex-direction: column;
        & h3 {
            margin: 0;
        }
        & .fa-heart {
            font-size: 24px;
            position: absolute;
            top: .8em; right: .8em;
        }
    }
    &__card-location {
        margin: 0;
    }
}