.restaurants {
    @include padding-block;
    background-color: $color-accent;

    display: flex;
    flex-direction: column;
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 22px;
        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
        };
    }
    &__card {
        border-radius: 25px;
        @include shadow-primary;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        img {
            height: 180px;
            object-fit: cover;
        }
        @include tablet-only {
            height: 180px;
            flex-direction: row;
            img {
                flex: 2 0 0;
                width: 0;
            }
        }
        @include desktop {
            min-width: 350px;
            flex: 1 1 0;
        }
    }
    &__card-description {
        padding: 1em;

        position: relative;
        display: flex;
        flex-direction: column;
        h3 {
            padding-right: 1.5em;
            margin: 0;
        }
        .fa-heart {
            font-size: 24px;
            position: absolute;
            top: .8em; right: .8em;
        }
        @include tablet-only {
            width: auto;
            padding: 1.2em;
            flex: 3 1 0;
            h3 {
                margin-bottom: .5em;
            }
            .fa-heart {
                top: 1em; right: 1em;
            }
        }
    }
    &__card-location {
        margin: 0;
    }
}